name: Benchmarks
'on':
  pull_request: null
  push:
    branches:
    - '*'
permissions:
  contents: read
  id-token: write
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  benchmarks:
    name: Run benchmarks for ${{ matrix.package }} (CodSpeed)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
        - uu_base64
        - uu_cksum
        - uu_cp
        - uu_cut
        - uu_dd
        - uu_df
        - uu_du
        - uu_expand
        - uu_fold
        - uu_join
        - uu_ls
        - uu_mv
        - uu_nl
        - uu_numfmt
        - uu_rm
        - uu_seq
        - uu_shuf
        - uu_sort
        - uu_split
        - uu_tsort
        - uu_unexpand
        - uu_uniq
        - uu_wc
        - uu_factor
        - uu_date
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.9
    - name: Install locales
      shell: bash
      run: 'sudo apt-get update

        sudo apt-get install -y locales

        sudo locale-gen fr_FR.UTF-8

        sudo update-locale

        '
    - name: Install cargo-codspeed
      shell: bash
      run: cargo install cargo-codspeed --locked
    - name: Build benchmarks for ${{ matrix.package }}
      shell: bash
      run: 'echo "Building benchmarks for ${{ matrix.package }}"

        cargo codspeed build -m memory -p ${{ matrix.package }}

        '
    - name: Run benchmarks for ${{ matrix.package }}
      uses: CodSpeedHQ/action@v4
      env:
        CODSPEED_LOG: debug
      with:
        upload-url: ${{ secrets.CODSPEED_ARTHUR_DEV_UPLOAD_URL }}
        mode: memory
        run: 'echo "Running benchmarks for ${{ matrix.package }}"

          cargo codspeed run -p ${{ matrix.package }} > /dev/null

          '
